<div class="comment">
  <p class="comment_body"><%=comment.body%></p>
  <h6>by: <%=link_to "#{comment.user.name}", user_path(comment.user)%> | <%= link_to "reply",  new_comment_path(movie_id: @movie, review_id: @review, comment_id: comment.id) %></h6>
  <div class="nested_comments">
    <%= render comment.comments %>
  </div>
</div>
<!-- new_polymorphic_path([comment.commentable, comment]) -->
<!-- [@movie, @review, comment], action: "new" -->
