<table>
  <%= form_for @comment do |f| %>
    <tr>
      <td><%= f.label "Comment" %></td>
      <td><%= f.text_area :body %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  <% end %>
</table>
