<h1>MOVIE RATING and DATABASE</h1>

<div>
  <ul id="genres-list">
    <%= render @genres %>
  </ul>
</div>

<div>
<p>This is where the top rated movies will be</p>
</div>

<div>
<p>This is where the top rated reviews will be</p>
</div>
