/*.best-of-container {
  list-style: none;
  background-color: pink;
  border-radius:8px;
}
*/


/*#genres-container {
  background-color:gray;
  border-radius:8px;
}
*/

/*#best-ofs-container {
  background-color:blue;
  border-radius:8px;
  padding:3px;
}
*/
/*I DON'T KNOW WHAT TO NAME THIS FILE OR EVEN HOW TO GROUP CSS SHIT TOGETHER
  INTO FILES DESPITE THEM APPLYING TO SHIT ACROSS OBJECTS,VIEWS,EVERY-FUCKING-THING*/
ul {
  list-style:none;
}

.front-page-box {
  background-color:gray;
  border-radius:8px;
  padding:3px;
  display:inline-block;
  height: 100%;
  width: 45%;
}

.best-of-box {
  background-color:pink;
  border-radius:8px;
  padding:3px;
  margin:5px;
}

.best_ofs-box {
  display: inline-block;
  /*clear: left;*/
}


