<div class="review-stub">
  <p>By: <%=review.user.username%></p>
  <p>Score: <%=review.score%>/10</p>

  <p><%=link_to truncate(review.body), movie_review_path(review.movie, review) %></p>
  <p>Review score: <%= review.points %></p>
</div>
